<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475534787542-67d87k4oa0nd5a9045c4abfm5pgie661.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475534787542-67d87k4oa0nd5a9045c4abfm5pgie661</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>475534787542-97cqbpa5tgbljit4ku40hr887vg358bg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-E5j9-NtgMt4R2RXpCzPaS0qHicUmSTg</string>
	<key>GCM_SENDER_ID</key>
	<string>475534787542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pictureSharingSystem</string>
	<key>PROJECT_ID</key>
	<string>picture-sharing-system-c0d8b</string>
	<key>STORAGE_BUCKET</key>
	<string>picture-sharing-system-c0d8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475534787542:ios:f89b159a95fa6625435a77</string>
</dict>
</plist>